{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        'bundles/app/less/dragged-table.less'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title %} - Tournament{% endblock %}

{% block submenu %}
    <nav class="navbar navbar-default tournament-sub-menu">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="submenu" href="#standing">Standing</a></li>
                    <li><a class="submenu" href="#tournament-game-list">Games</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div id="tournament" class="tournament-page">
        <div class="top">
            <h2>Tournament #{{ tournament.id }}</h2>
        </div>

        <div id="standing">
            {% if is_granted('ROLE_ADMIN') or tournament.creator == app.user %}
                <form action="{{ path('_tournaments_playoff', {'id' : tournament.id}) }}">
                    <button type="submit" class="btn btn-success" style="margin: 5px 0 20px">Start playoff</button>
            {% endif %}
                    <table class="table sortable-table table-bordered table-hover table-tournament {% if is_granted('ROLE_ADMIN') or tournament.creator == app.user %}sorted_table{% endif %}" data-playoff="{{ tournament.playoffTeamCount }}">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Games</th>
                            <th>Won</th>
                            <th>Drawn</th>
                            <th>Lost</th>
                            <th>Points</th>
                        </tr>
                        </thead>
                        <tbody id="tournament-stat-table">
                            {% include 'AppBundle:Tournament:tbody.html.twig' with {'statistics' : statistics} %}
                        </tbody>
                    </table>
            {% if is_granted('ROLE_ADMIN') or tournament.creator == app.user %}
                </form>
            {% endif %}
        </div>


        <div id="tournament-game-list" class="row game-list main-game-list">
            {% include 'AppBundle:Game:tournamentItem.html.twig' with {'games' : games} %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {% javascripts
        'bundles/app/js/tournamentList.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
