{% extends 'AppBundle::base.html.twig' %}

{% block title %} - Head to Head{% endblock %}

{% block content %}

    <div id="game-filters" class="row">
        {{ form_start(form, {'attr' : {'class' : 'form-inline'} }) }}
            <div class="col-md-2 game-filter-container open date-filter-container">
                <h4>Date Range</h4>
                <div class="game-filter-row date-filter-row">
                    <input type="text" id="date-filter" name="dateRange" class="form-control" value="">
                </div>
                <input type="hidden" name="startDate" value="{{ startDate }}">
                <input type="hidden" name="endDate" value="{{ endDate }}">
            </div>
            <div class="col-md-1 submit">
                <button type="submit" id="filterGame" class="btn-submit btn btn-success">Apply</button>
            </div>
            <div class="col-md-9 game-filter-container first-team-filter-container open">
                <h4>Player filter</h4>
                <div>
                    <div class="form-group player first-player">
                        {{ form_widget(form.firstTeam) }}
                    </div>
                    <span>:</span>
                    <div class="form-group player second-player">
                        {{ form_widget(form.secondTeam) }}
                    </div>
                </div>
            </div>
            <div class="filter-error">{{ form_errors(form) }}</div>

        {{ form_end(form) }}
    </div>

    {% if pagination.getTotalItemCount is not defined %}
        <p class="nothing-msg">No game</p>
    {% endif %}

    {% if firstTeamStats is defined and secondTeamStats is defined %}

        <div class="all-time-stats">
            {% include 'AppBundle:Game:table.html.twig' with {'statistics' : statistics} %}
        </div>

        <div class="profile-stats">
            <table>
                <tbody>
                <tr>
                    <td class="left-border no-bottom-border">
                        <div class="stat">
                            {% if firstTeamStats['greatVictories']['games']|length %}
                                {{ firstTeamStats['greatVictories']['games'][0].firstScore }} : {{ firstTeamStats['greatVictories']['games'][0].secondScore }}
                            {% else %}
                                None
                            {% endif %}
                        </div>
                        <div class="label">Greatest win</div>
                    </td>
                    <td class="left-border no-bottom-border">
                        <div class="stat">{{ firstTeamStats['won']|length }}</div>
                        <div class="label">Won</div>
                    </td>
                    <td class="left-border no-bottom-border">
                        <div class="stat">{{ firstTeamStats['drawn']|length }}</div>
                        <div class="label">Drawn</div>
                    </td>
                    <td class="left-border no-bottom-border">
                        <div class="stat">{{ secondTeamStats['won']|length }}</div>
                        <div class="label">Won</div>
                    </td>
                    <td class="left-border no-bottom-border">
                        <div class="stat">
                            {% if secondTeamStats['greatVictories']['games']|length %}
                                {{ secondTeamStats['greatVictories']['games'][0].firstScore }} : {{ secondTeamStats['greatVictories']['games'][0].secondScore }}
                            {% else %}
                                None
                            {% endif %}
                        </div>
                        <div class="label">Greatest win</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}

    {#<div class="row">#}
        <div class="row game-list main-game-list">
            {% include 'AppBundle:Game:item.html.twig' with {'games' : pagination} %}
        </div>
    {#</div>#}

    {% if moreBtn %}
        <div class="row load-more-container">
            <div data-href="{{ path('_head_to_head') }}" data-page="2" class="btn btn-primary more-game">More</div>
        </div>
    {% endif %}

    {#<div class="row">#}
        {#<div class="pagination">#}
            {#{{ knp_pagination_render(pagination) }}#}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'bundles/app/js/game.js'
    'bundles/app/js/gameFilter.js'
     %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
