{% extends 'AppBundle::base.html.twig' %}

{% block title %} - Head to Head{% endblock %}

{% block content %}

    <div id="game-filters" class="row">
        {{ form_start(form, {'attr' : {'class' : 'form-inline'} }) }}
            <div class="col-md-2 game-filter-container open date-filter-container">
                <h4>Date Range</h4>
                <div class="game-filter-row date-filter-row">
                    <input type="text" id="date-filter" name="dateRange" class="form-control" value="">
                </div>
                <input type="hidden" name="startDate" value="{{ startDate }}">
                <input type="hidden" name="endDate" value="{{ endDate }}">
            </div>
            <div class="col-md-1 submit">
                <button type="submit" id="filterGame" class="btn-submit btn btn-success">Apply</button>
            </div>
            <div class="col-md-9 game-filter-container first-team-filter-container">
                <h4>Player filter</h4>
                <div>
                    <div class="form-group player first-player">
                        {{ form_widget(form.firstTeam) }}
                    </div>
                    <span>:</span>
                    <div class="form-group player second-player">
                        {{ form_widget(form.secondTeam) }}
                    </div>
                </div>
            </div>
            <div class="filter-error">{{ form_errors(form) }}</div>

        {{ form_end(form) }}
    </div>

    {# total items count #}

    {% if pagination.getTotalItemCount is not defined %}
        <p class="nothing-msg">No game</p>
    {% endif %}

    {% if firstTeamStats is defined and secondTeamStats is defined %}
    <div class="row h2h-stats">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div>{{ firstTeamStats['team'].playerNames|join(' / ') }} winners</div>
                            <div class="huge">{{ firstTeamStats['won']|length }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div>Draws</div>
                            <div class="huge">{{ secondTeamStats['drawn']|length }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div>{{ secondTeamStats['team'].playerNames|join(' / ') }} winners</div>
                            <div class="huge">{{ secondTeamStats['won']|length }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div>Great win</div>
                            <div class="huge">
                                {% if firstTeamStats['greatVictories']['games'][0] is defined %}
                                    {% set game = firstTeamStats['greatVictories']['games'][0] %}
                                    <span>{{ game.firstScore }} : {{ game.secondScore }}</span>
                                {% else %}
                                    <span>None</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            {% if pagination.getTotalItemCount is defined %}
                                <div>Matches</div>
                                <div class="huge">
                                    <span>
                                        {% transchoice pagination.getTotalItemCount %}
                                        {0} No matches|{1} Found 1 match|]1,Inf[ %count%
                                        {% endtranschoice %}
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div>Great win</div>
                            <div class="huge">
                                {% if secondTeamStats['greatVictories']['games'][0] is defined %}
                                    {% set game = secondTeamStats['greatVictories']['games'][0] %}
                                    <span>{{ game.firstScore }} : {{ game.secondScore }}</span>
                                {% else %}
                                    <span>None</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {#<div class="row">#}
        <div class="row game-list main-game-list">
            {% include 'AppBundle:Game:item.html.twig' with {'games' : pagination} %}
        </div>
    {#</div>#}

    {% if moreBtn %}
        <div class="row load-more-container">
            <div data-href="{{ path('_head_to_head') }}" data-page="2" class="btn btn-primary more-game">More</div>
        </div>
    {% endif %}

    {#<div class="row">#}
        {#<div class="pagination">#}
            {#{{ knp_pagination_render(pagination) }}#}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'bundles/app/js/game.js'
    'bundles/app/js/gameFilter.js'
     %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
