<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ path('_main_page') }}" class="navbar-brand">
                <img src="{{ asset('bundles/app/images/logo.jpg') }}" alt="main-logo"/>
                <span>TFootball</span>
            </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="{% if active == 'main' %}active{% endif %}"><a href="{{ path('_main_page') }}">Main</a></li>
                <li class="{% if active == 'games' %}active{% endif %}"><a href="{{ path('_games') }}">Games</a></li>
                {#<li class="{% if active == 'tournaments' %}active{% endif %}"><a href="#">Tournaments</a></li>#}
                {#<li class="{% if active == 'players' %}active{% endif %}"><a href="{{ path('_player') }}">Players</a></li>#}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><button type="button" class="create-game-btn btn btn-primary" data-toggle="modal" data-target=".create-game-popup">Create Game</button></li>
                {{ render(controller('AppBundle:Header:headerGameNotify')) }}
                <li><a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="{{ path('_setting_page') }}"><i class="fa fa-fw fa-gear"></i> Setting</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('logout') }}"><i class="fa fa-fw fa-power-off"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

{{ render(controller('AppBundle:Header:headerGamePopup')) }}