<div class="modal fade create-game-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content content">

            {{ form_start(form, {'attr' : {'class' : 'form-inline create-game-form'} }) }}

                <div class="form-group player first-player">
                    {{ form_widget(form.firstTeam) }}
                </div>

                <div class="form-group goal first-goal">
                    {{ form_widget(form.firstScore) }}
                </div>
                <span>:</span>
                <div class="form-group goal second-goal">
                    {{ form_widget(form.secondScore) }}
                </div>

                <div class="form-group player second-player">
                    {{ form_widget(form.secondTeam) }}
                </div>

                <div class="form-group form-choice">
                    {{ form_widget(form.form) }}
                </div>

                <button type="submit" id="createGame" data-loading-text="Creating..." autocomplete="off" class="btn-submit btn btn-primary">Create</button>

            {#{{ form_end(form, {'render_rest': false}) }}#}
            {{ form_end(form) }}

            <p class="form-error"></p>

        </div>
    </div>
</div>