{% if confirms|length == 0 %}
    <li class="notify-item">
        <div>No matches for confirmation</div>
    </li>
{% else %}
    {% for confirm in confirms %}
        <li class="notify-item">
            <div>
                <span class="player">
                    {% for player in confirm.game.firstTeam %}
                        {{ player.username }}
                        {% if not loop.last %}/{% endif %}
                    {% endfor %}
                </span>
                <span>{{ confirm.game.firstGoals }}</span>
                <span>:</span>
                <span>{{ confirm.game.secondGoals }}</span>
                <span class="player">
                    {% for player in confirm.game.secondTeam %}
                        {{ player.username }}
                        {% if not loop.last %}/{% endif %}
                    {% endfor %}
                </span>
                <span class="text-muted small time">{{ confirm.game.gameDate|date('H:i:s d-m-y') }}</span>
                <span class="decline-game notify-btn btn-sm" data-loading-text="Declining..." data-href="{{ path('_game_decline', {'id' : confirm.id}) }}">Decline<i class="fa fa-times"></i></span>
                <span class="accept-game notify-btn btn-sm" data-loading-text="Accepting..." data-href="{{ path('_game_accept', {'id' : confirm.id}) }}">Accept<i class="fa fa-check"></i></span>
            </div>
        </li>
    {% endfor %}
{% endif %}