{% if confirms|length == 0 %}
    <li class="notify-item">
        <div>No matches for confirmation</div>
    </li>
{% else %}
    {% for confirm in confirms %}
        <li class="notify-item">
            <div>
                <span class="player">
                    {% for player in confirm.game.firstTeam.playerNames %}
                        {{ player }}
                        {% if not loop.last %}/{% endif %}
                    {% endfor %}
                </span>
                <span>{{ confirm.game.firstScore }}</span>
                <span>:</span>
                <span>{{ confirm.game.secondScore }}</span>
                <span class="player">
                    {% for player in confirm.game.secondTeam.playerNames %}
                        {{ player }}
                        {% if not loop.last %}/{% endif %}
                    {% endfor %}
                </span>
                <span class="text-muted small time">{{ confirm.game.gameDate|date('H:i:s d-m-y') }}</span>
                <button class="decline-game notify-btn btn-sm" type="button" autocomplete="off" data-loading-text="Declining..." data-href="{{ path('_game_decline', {'id' : confirm.game.id}) }}">Decline<i class="fa fa-times"></i></button>
                <button class="accept-game notify-btn btn-sm" type="button" autocomplete="off" data-loading-text="Accepting..." data-href="{{ path('_game_accept', {'id' : confirm.game.id}) }}">Accept<i class="fa fa-check"></i></button>
            </div>
        </li>
    {% endfor %}
{% endif %}