{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {% stylesheets
    'bundles/app/less/sortable-table.less'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block title %} - Games{% endblock %}

{% block content %}

    <div class="panel-body player-tables">
        <!-- Nav tabs -->
        <ul id="main-page-tabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#single" aria-controls="home" role="tab" data-toggle="tab">Single</a></li>
            <li role="presentation"><a href="#double" aria-controls="profile" role="tab" data-toggle="tab">Double</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="single">
                {% include 'AppBundle:Game:table.html.twig' with {'statistics' : singlePlayerStatistics} %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="double">
                {% include 'AppBundle:Game:table.html.twig' with {'statistics' : multiPlayerStatistics} %}
            </div>
        </div>
    </div>

    {# total items count #}
    {% if pagination.getTotalItemCount is defined %}
        <div class="row">
            <div class="count total-item-count col-md-12">
                <span>
                    {% transchoice pagination.getTotalItemCount %}
                        {0} No matches|{1} Found 1 match|]1,Inf[Found %count% matches
                    {% endtranschoice %}
                </span>
            </div>
        </div>
    {% else %}
        <p class="nothing-msg">No game</p>
    {% endif %}

    <div class="row game-list">
        {% include 'AppBundle:Game:item.html.twig' with {'games' : pagination} %}
    </div>

    {% if moreBtn %}
        <div class="row load-more-container">
            <div data-href="{{ path('_games') }}" data-page="2" class="btn btn-primary more-game">More</div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'bundles/app/js/game.js'
    'bundles/app/js/jquery.tablesorter.min.js'
     %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
