{% extends 'AppBundle::base.html.twig' %}

{% block title %} - Players{% endblock %}

{% block content %}

    <div class="col-md-12 date-filter-container">
        <form action="">
            <h4>Date Range</h4>
            <div class="date-filter-row">
                <input type="text" id="date-filter" class="form-control">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            </div>
        </form>
    </div>

    <table class="game-table">
        <tbody>
        {% for game in games %}
            <tr class="game">
                <td class="game-player {% if game.firstScore > game.secondScore %}winner{% endif %}">
                    {% if game.firstScore > game.secondScore %}
                        <i class="fa fa-soccer-ball-o"></i>
                    {% endif %}
                    {{ game.firstTeam|members }}
                </td>
                <td class="game-score">{{ game.firstScore }}</td>
                <td>:</td>
                <td class="game-score">{{ game.secondScore }}</td>
                <td class="game-player {% if game.firstScore < game.secondScore %}winner{% endif %}">
                    {% if game.firstScore < game.secondScore %}
                        <i class="fa fa-soccer-ball-o"></i>
                    {% endif %}
                    {{ game.secondTeam|members }}
                </td>
                <td class="game-date">{{ game.createdAt|date('H:i:s') }}</td>
                <td class="game-date">{{ game.createdAt|date('d-m-y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
