{% extends 'AppBundle::base.html.twig' %}

{% block title %} - Players{% endblock %}

{% block content %}

    <table class="game-table">
        <tbody>
        {% for game in games %}
            <tr class="game">
                <td class="game-player {% if game.firstScore > game.secondScore %}winner{% endif %}">
                    {% if game.firstScore > game.secondScore %}
                        <i class="fa fa-soccer-ball-o"></i>
                    {% endif %}
                    {{ game.firstTeam|members }}
                </td>
                {#<td>{% if game.firstGoals > game.secondGoals %}<i class="fa fa-soccer-ball-o"></i>{% endif %}</td>#}
                <td class="game-score">{{ game.firstScore }}</td>
                <td class="game-score">{{ game.secondScore }}</td>
                {#<td>{% if game.firstGoals < game.secondGoals %}<i class="fa fa-soccer-ball-o"></i>{% endif %}</td>#}
                <td class="game-player {% if game.firstScore < game.secondScore %}winner{% endif %}">
                    {% if game.firstScore < game.secondScore %}
                        <i class="fa fa-soccer-ball-o"></i>
                    {% endif %}
                    {{ game.secondTeam|members }}
                </td>
                <td class="game-date">{{ game.createdAt|date('H:i:s') }}</td>
                <td class="game-date">{{ game.createdAt|date('d-m-y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<table class="table table-bordered">#}
        {#<thead>#}
        {#<tr>#}
            {#<th>First Player</th>#}
            {#<th>Score</th>#}
            {#<th>Second Player</th>#}
            {#<th>Date</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for game in games %}#}
            {#<tr>#}
                {#<td>{{ game.firstPlayer.username }}</td>#}
                {#<td>{{ game.firstGoals }} - {{ game.secondGoals }}</td>#}
                {#<td>{{ game.secondPlayer.username }}</td>#}
                {#<td>{{ game.createdAt|date('H:i:s d-m-Y') }}</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}
{% endblock %}
