<table class="table sortable-table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Games</th>
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>
            <th>%</th>
        </tr>
    </thead>
    <tbody>
    {% for stat in statistics %}
        <tr>
            <td>{{ stat['team']['playerNames']|join(' / ') }}</td>
            <td>{{ stat['gameCount'] }}</td>
            <td>{{ stat['won'] }}</td>
            <td>{{ stat['drawn'] }}</td>
            <td>{{ stat['lost'] }}</td>
            <td>{{ stat['wonPercentage'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>