{% for game in games %}
    {% if is_granted('ROLE_ADMIN') or tournament.creator == app.user %}
        <form class="t-match-form" action="{{ path('_tournaments_game_accept', {'id' : game.id}) }}">
            <div class="col-md-12 game game-row {% if game.firstScore is null and game.secondScore is null %}game-input-active{% endif %}">
                <div class="game-submit btn btn-success score-input">Apply game</div>
                <div class="game-date">{{ game.createdAt|date('d-m-y') }}</div>
                <div class="game-player first-team">
                    <a class="team-link" href="{{ path('_profile_id', {'id' : game.firstTeam.id}) }}">
                        {{ game.firstTeam|members }}
                    </a>
                </div>

                <div class="game-score-input score-input"><input type="text" name="firstScore" value="{{ game.firstScore }}" required></div>
                <div class="game-separator score-input">:</div>
                <div class="game-score-input score-input"><input type="text" name="secondScore" value="{{ game.secondScore }}" required></div>

                <div class="game-score score-element">{% if game.firstScore is null %}-{% else %}{{ game.firstScore }}{% endif %}</div>
                <div class="game-separator score-element">:</div>
                <div class="game-score score-element">{% if game.firstScore is null %}-{% else %}{{ game.secondScore }}{% endif %}</div>

                <div class="game-player second-team">
                    <a class="team-link" href="{{ path('_profile_id', {'id' : game.secondTeam.id}) }}">
                        {{ game.secondTeam|members }}
                    </a>
                </div>
            </div>
        </form>
    {% else %}
        <div class="col-md-12 game game-row">
            <div class="game-date">{{ game.createdAt|date('d-m-y') }}</div>
            <div class="game-player first-team {% if game.firstScore > game.secondScore %}winner{% endif %}">
                {% if game.firstScore > game.secondScore %}
                    <i class="fa fa-soccer-ball-o"></i>
                {% endif %}
                <a class="team-link" href="{{ path('_profile_id', {'id' : game.firstTeam.id}) }}">
                    {{ game.firstTeam|members }}
                </a>
            </div>
            <div class="game-score">{% if game.firstScore is null %}-{% else %}{{ game.firstScore }}{% endif %}</div>
            <div class="game-separator">:</div>
            <div class="game-score">{% if game.firstScore is null %}-{% else %}{{ game.secondScore }}{% endif %}</div>
            <div class="game-player second-team {% if game.firstScore < game.secondScore %}winner{% endif %}">
                {% if game.firstScore < game.secondScore %}
                    <i class="fa fa-soccer-ball-o"></i>
                {% endif %}
                <a class="team-link" href="{{ path('_profile_id', {'id' : game.secondTeam.id}) }}">
                    {{ game.secondTeam|members }}
                </a>
            </div>
        </div>
    {% endif %}
{% endfor %}