{% extends 'AppBundle::base.html.twig' %}

{% block title %} - Players{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Username</th>
                <th title="Played">Pld</th>
                <th>%</th>
                <th title="Won">W</th>
                <th title="Drawn">D</th>
                <th title="Lost">L</th>
                <th title="Goal for">GF</th>
                <th title="Goal against">GA</th>
                <th title="Goal difference">GD</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player.username }}</td>
                    <td>{{ player.wonGames|length + player.lostGames|length }}</td>
                    <td>{{ (player.wonGames|length/(player.wonGames|length + player.lostGames|length)*100)|number_format(1, '.', ',') }}</td>
                    <td>{{ player.wonGames|length }}</td>
                    <td>0</td>
                    <td>{{ player.lostGames|length }}</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
