{% extends 'AppBundle::base.html.twig' %}

{% block title %} - Profile{% endblock %}

{% block content %}

    <h1>{{ names|join(' / ') }}</h1>

    {# total items count #}

    {% if pagination.getTotalItemCount is not defined %}
        <p class="nothing-msg">No game</p>
    {% endif %}

    {% if teamStats|length > 0 %}
        {% set gameCount = teamStats['won']|length + teamStats['drawn']|length + teamStats['lost']|length %}
        <div class="profile-stats">
            <table>
                <tbody>
                    <tr>
                        <td class="no-bottom-border">
                            <div class="stat">
                                {{ gameCount }}
                            </div>
                            <div class="label">Games Played</div>
                        </td>
                        <td class="left-border no-bottom-border">
                            <div class="stat">{{ teamStats['won']|length }}</div>
                            <div class="label">Won</div>
                        </td>
                        <td class="left-border no-bottom-border">
                            <div class="stat">{{ teamStats['drawn']|length }}</div>
                            <div class="label">Drawn</div>
                        </td>
                        <td class="left-border no-bottom-border">
                            <div class="stat">{{ teamStats['lost']|length }}</div>
                            <div class="label">Lost</div>
                        </td>
                        <td class="left-border no-bottom-border">
                            <div class="stat">{{ (teamStats['won']|length * 100 / gameCount)|round(1) }}%</div>
                            <div class="label">% Won</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row profile-difference">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Greatest victories</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row game-list half-size">
                            {% include 'AppBundle:Game:item.html.twig' with {'games' : teamStats['greatVictories']['games']} %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Greatest defeats</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row game-list half-size">
                            {% include 'AppBundle:Game:item.html.twig' with {'games' : teamStats['greatDefeats']['games']} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row game-list main-game-list">
        {% include 'AppBundle:Game:item.html.twig' with {'games' : pagination} %}
    </div>

    {% if moreBtn %}
        <div class="row load-more-container">
            <div data-href="{{ path('_profile_id', {'id' : teamId}) }}" data-page="2" class="btn btn-primary more-game">More</div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'bundles/app/js/game.js'
     %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
